  <div>
  <ul class="nav navbar-tabs">
        <li><a routerLink="HOME">HOME</a></li>
        <li><a routerLink="ABOUT">ABOUT</a></li>
        <li><a routerLink="CONTACT">CONTACT</a></li>
        <li><a routerLink="testerProjects">PROJECTS</a></li>
        <li><a routerLink="testerBugfixModule">BUGFIX MODULES</a></li>
     </ul>

</div>  

<br/><br/><br/>
  <!-- <div>
  <app-projects></app-projects>
</div>
  
<!-- <div>
  <app-testerProjects></app-testerProjects>
</div> -->
<div>
<router-outlet></router-outlet>
</div>
 <!-- <div> 
  <app-testerViewModules></app-testerViewModules>
</div>   -->