<p style="font-size:30px;text-align: center;">Create Bug</p>
<hr>
<div></div>
<mat-card style="width: 25%;"  >
    <input type="text" placeholder="Enter Bug Name" class="form-control" [(ngModel)]="createBug.bugName"><br><br>
    <input type="text"placeholder="Enter Bug status" class="form-control" [(ngModel)]="createBug.bugStatus"><br><br>
    <button mat-raised-button color="primary" (click)="createBugs()">Create Bug</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="viewModule()">Back</button>
</mat-card>

